<h2>Manage employee's</h2>

<mat-form-field class="example-form-field">
  <mat-label>Search an employee</mat-label>
  <input matInput placeholder="Enter text here" [(ngModel)]="searchText" />
  <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="relative-container">
  <button mat-stroked-button color="primary" class="logout-button">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</div>

<br>

<!--<div class="relative-create-button-container">-->
<!--  <button mat-button style="color: limegreen" (click)="createItem()" class="create-button">-->
<!--    Create new employee-->
<!--  </button>-->
<!--</div>-->

<table mat-table [dataSource]="dataSource">

  <!-- Define columns -->
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let element">

      <ng-template #actionsColumn>
        <button mat-stroked-button color="basic" (click)="viewItem(element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-stroked-button color="primary" (click)="editItem(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-stroked-button color="warn" (click)="deleteItem(element)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </ng-template>

    </td>
  </ng-container>

  <!-- Define a row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<div class="relative-paging-container">
  <button mat-stroked-button color="primary" class="paging-buttons">
    <mat-icon>first_page</mat-icon>
  </button>

  <button mat-stroked-button color="primary" class="paging-buttons">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button mat-stroked-button color="primary" class="paging-buttons">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <button mat-stroked-button color="primary" class="paging-buttons">
    <mat-icon>last_page</mat-icon>
  </button>
</div>
