<form [formGroup]="employeeForm">
  <div>
    <label for="lastName">Lastname</label>
    <input id="lastName" type="text" formControlName="lastName">
  </div>
  <div>
    <label for="firstName">Firstname</label>
    <input id="firstName" type="text" formControlName="firstName">
  </div>
  <div>
    <label for="street">Street</label>
    <input id="street" type="text" formControlName="street">
  </div>
  <div>
    <label for="postcode">Postcode</label>
    <input id="postcode" type="text" formControlName="postcode">
  </div>
  <div>
    <label for="city">City</label>
    <input id="city" type="text" formControlName="city">
  </div>
  <div>
    <label for="phone">Phone</label>
    <input id="phone" type="text" formControlName="phone">
  </div>
</form>
