<form [formGroup]="employeeForm">
  <div class="container-form">
    <div class="column1">
      <div>
        <label for="lastName">Lastname</label>
        <mat-form-field>
          <input matInput id="lastName" type="text" formControlName="lastName">
        </mat-form-field>
      </div>
      <div>
        <label for="firstName">Firstname</label>
        <mat-form-field>
          <input matInput id="firstName" type="text" formControlName="firstName">
        </mat-form-field>
      </div>
      <div>
        <label for="phone">Phone</label>
        <mat-form-field>
          <input matInput id="phone" type="text" formControlName="phone">
        </mat-form-field>
      </div>
    </div>
    <div class="column2">
      <div>
        <label for="street">Street</label>
        <mat-form-field>
          <input matInput id="street" type="text" formControlName="street">
        </mat-form-field>
      </div>
      <div>
        <label for="postcode">Postcode</label>
        <mat-form-field>
          <input matInput id="postcode" type="text" formControlName="postcode">
        </mat-form-field>
      </div>
      <div>
        <label for="city">City</label>
        <mat-form-field>
          <input matInput id="city" type="text" formControlName="city">
        </mat-form-field>
      </div>
    </div>
    <div class="column3">
      <div>
        <label for="qualifications">Qualifications</label>
        <mat-form-field>
          <input matInput id="qualifications" type="text" formControlName="qualifications">
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
